body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Ensure scrolling works */
  }
  
  .home-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Ensure the body takes at least the full height of the viewport */
    padding: 20px;
  }
  
  .landing-header {
    background-color: #f8f9fa;
    width: 100%;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }
  
  .flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; /* Ensure items wrap if they overflow */
    gap: 10px; /* Add some space between buttons */
    border: 2px solid #ccc; /* Add a border for visual debugging */
  }
  
  .unlocked, .locked {
    padding: 10px 20px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    border: none;
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .unlocked {
    background-color: #2BD0DC;
    color: white;
  }
  
  .locked {
    background-color: #73ADB1;
    color: #CBCBCB;
  }
  
  .emergency {
    background-color: #B91616;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    border: none;
    cursor: pointer;
  }
  
  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #f8f9fa;
    border-top: 1px solid #e9ecef;
  }
  
  .footer svg {
    margin-right: 10px;
  }
  
  .footer p {
    margin: 0;
    font-size: 14px;
    color: #6c757d;
  }